body {
    margin: 0px;
}


div {
    border: 2px solid brown;
}

.container {
    padding-top: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score {
    flex: 1;
    display: flex;
    gap: 30px;
}

.buttons {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}